@font-face 
{
	font-family: "DINPro_Medium";
	src: url('../fonts/dinpromedium.woff');
}
@font-face 
{
	font-family: "DINPro_Regular";
	src: url('../fonts/dinproregular.woff');
}
@font-face 
{
	font-family: "DINPro_Light";
	src: url('../fonts/dinprolight.woff');
}
@font-face 
{
	font-family: "DINPro_Bold";
	src: url('../fonts/dinprobold.woff');
}

@font-face 
{
	font-family: "DINPro_Black";
	src: url('../fonts/dinproblack.woff');
}
