@media all and (max-width: 1024px){

	
}

@media all and (max-width: 980px){

}

@media all and (max-width: 767px){

	footer div.wrap
	{
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	
	img.logo
	{
		position: absolute;
		opacity: 0.1;
		width: 180px;
		bottom:-100px;
	}
	
	footer
	{
		padding:40px 0 150px 0;
	}

	div.div_center
	{
		font-size: 16px;
		width: 220px;
		margin-bottom: 35px;
	}

	div.reseaux a.link_margin
	{
		margin-right:20px;
	}

	div.reseaux
	{
		margin-top: 70px;
	}

	footer div.wrap div:nth-child(1)
	{
		font-size: 13px;
		text-align: center;
	}

	div.wrap div:first-of-type p:first-of-type
	{
		margin-bottom: 15px;
	}

}

@media all and (max-width: 480px){


	

}

