header
{
	background-image: none;
	background-color: ghostwhite;
	height: 114px;
}

body
{
	background-color: ghostwhite;
	font-family: "DINPro_Bold";
}

div.vice
{
	margin: 50px 50px;

}

div.vice h1
{	
	font-size: 32px;
	color: #FF7D00;
	text-align: center;
	text-transform: uppercase;
	padding-top: 50px;
	padding-bottom: 100px;
}

div.vice p
{
	margin-right: 50%;
	line-height: 120%;
	color: gray;
}

div.vice p:last-of-type
{
	padding-bottom: 100px;
}




