header
{
	background-image: none;
	height: 114px;
	letter-spacing: 0.01px;
	line-height: 1.3;
}

body
{
	font-family: "DINPro_Regular";
	color: #000;
}

h1
{
	
	font-size: 32px;
	color: #FF7D00;
	text-align: center;
	text-transform: uppercase;
	font-family: "DINPro_Bold";
	padding-top: 50px;
	padding-bottom: 100px;
}

p
{
	/*line-height: 120%;*/
	color: gray;
	margin-bottom: 15px;
}

div.flexbox
{
	padding-bottom:100px;
}



h2
{
	margin-bottom: 150px;
	font-size: 25px;
	color: #FF7D00;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.01px;
}

div.vice>section>div:first-of-type
{
	margin-right: 30%;
}

img
{
	width: 150px;
}


div.text_container
{
	width: 50%;
}

div.flexbox
{
	display: flex;
	justify-content:space-between;
}



div.image_container
{
	display: flex;
	justify-content:space-between;
	flex-direction: column;
}
div.wrap
{
	width: 70%;
}

h3
{

	margin-bottom: 10px;
}

h4
{
	margin-top: 50px;
	margin-bottom: 10px;
	font-family: 'DINPro_Medium';
}

footer
{
	margin-top: 100px;
}