@media all and (max-width: 1024px){

		
}

@media all and (max-width: 980px){

	a.menu span
	{
		display: block;
	}

	a.navContent
	{
		display: none;
	}

	nav
	{
		width:60%;
		display: flex;
		justify-content: flex-end;
		margin: 0 30px;
	}

	a.menu
	{
		display:flex;
		flex-direction: column;
		align-items: end;
	}

}

@media all and (max-width: 767px){

	
}

@media all and (max-width: 480px){

	img:nth-child(1)
	{
		display: none;
	}

	img:nth-child(2)
	{
		display: flex;
	}

	nav a span
	{
		position: static;
		font-size: 13px;
	}

	nav
	{
		width:auto;
	}

	a.menu span:nth-child(1)
	{
		width: 40px;
		
	}

	a.menu span:nth-child(2)
	{
		width: 20px;
		margin: 12px 0;
	}

	a.menu span:nth-child(3)
	{
		width: 30px;
	}

}