header
{
	background-image: url(../images/homme_noir_et_blanc.png);
	background-size: cover;
}

header h1
{
	text-transform: uppercase;
	font-size: 60px;
	color: #FF7D00;
	font-family: "DINPro_Black";
	transform:translateY(50%);
}