div.wrap
{
	max-width:1440px;
	width:100%;
	padding:0 40px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

div.headerMenu div.wrap
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 40px;
}

div.headerMenu
{
	background-color: #FFF;
}

nav a
{
	text-decoration: none;
	color: black;
}

div.headerMenu img:nth-child(1)
{
	width: 200px;
}

a.navContent
{
	text-transform: uppercase;
	margin-right: 50px;
}

nav a:nth-child(4) span
{
	background-color: #FF7D00;
	color: white;
	padding: 4px 15px;
	border-radius: 15px;
}

div.imgContainer span
{
	background-color: rgba(255,125,0,0.5);
	color: white;
	width:40%;
	height: 25%;
	font-size: 46px;
	text-align: center;
	padding: 15px 20px;
	line-height: 60px;
	transform:translateY(-25%);
}


header
{	
	font-family: "DINPro_Medium";
	height: 100vh;
}

div.imgContainer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

a.menu
{
	display: none;
	
}

a.menu span:nth-child(1)
{
	width: 50px;
	
}

a.menu span:nth-child(2)
{
	width: 30px;
	margin: 12px 0;
}

a.menu span:nth-child(3)
{
	width: 40px;
}


div.headerMenu img:nth-child(2)
{
	display: none;
}