nav span
{
	background-color: #019EC0;
}

header
{
	background-image: url(../images/randonneur.png);
	background-size: cover;
}

header h1
{
	text-transform: uppercase;
	font-size: 60px;
	color:#FFF;
	font-family: "DINPro_Black";
	transform:translateY(-50%);
}

