@media all and (max-width: 1024px){

	header
	{
		background-image: url(../images/moitie_visage_homme.png);
	}
}

@media all and (max-width: 980px){

	a.menu span
	{
		display: block;
		background-color: #353535;
		height:2px;
		border-radius: 10px;
	}

	div.header_menu nav
	{
		display: none;
	}

	a.menu
	{
		display:flex;
		flex-direction: column;
		align-items: flex-end;
	}

	a.menu span:nth-child(1)
	{
		width: 50px;
		
	}

	a.menu span:nth-child(2)
	{
		width: 30px;
		margin: 8px 0;
	}

	a.menu span:nth-child(3)
	{
		width: 40px;
	}

	div.img_container span
	{
		font-size: 35px;
		line-height: 50px;
		padding: 25px 30px;
		box-sizing: border-box;
	}

	div.img_container span
	{
		width: 100%;
		height: auto;
	}

}

@media all and (max-width: 767px){

}

@media all and (max-width: 480px){


	div.header_menu img
	{
		width:150px;
	}

	div.img_container span
	{
		text-align: left;
	}

	div.img_container span
	{
		font-size: 25px;
		line-height: 40px;
	}

	div.header_menu div.wrap
	{
		padding: 10px 40px;
	}

}