nav span
{
	background-color: #019EC0;
}

header
{
	background-image: url(../images/outdoorImg.png);
	background-size: cover;
}

header h1
{
	text-transform: uppercase;
	font-size: 60px;
	color:#FFF;
	font-family: "DINPro_Black";
}

div.imgContainer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}