
body
{
	overflow-x: hidden;
}

div.background div.wrap,
section#pack_vente div.wrap,
section#presentation div.wrap,
section#tarifs div.wrap

{
	max-width: 1240px;
	margin-right: auto;
	margin-left: auto;
	align-self: center;
	padding: 0;

}


 /*//////////////////////////////////////////////////////////////////////*/
h2
{
	color: #019EC0;
	font-family: "DINPro_Bold";
	font-size: 42px;
	margin-top: 150px;
	text-align: center;
	text-transform: uppercase;
}





section#presentation div.wrap div
{
	font-family: "DINPro_Light";
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;

}

 /*///////////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////// kits /////////////////////////////////////*/


span.triangle_down 
{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #007B96;
	position: absolute;
	left:25%;
	z-index: 5;
	transform:translateX(-50%);
	transition-duration:0.5s;
	transition-timing-function: ease-in-out;
}
span.triangle_down.translated_triangle
{
	border-top: 50px solid #019EC0;
	left:75%;
	transform:translateX(-50%);
	transition-duration:0.5s;
	transition-timing-function: ease-in-out;
}

span.triangle_down.green
{
	border-top: 50px solid #099000;
}
span.triangle_down.green.translated_triangle.green
{
	border-top: 50px solid #0CB300;
}

/*/////////////////////////////////////////////////*/



div.pack_container
{
	display: flex;
	margin-top: 200px;
	text-transform: capitalize;
	width: 100%;
}
div.management
{
	background-color: #007B96;
	cursor: pointer;
	transition-duration: 0.1s;
	width: 50%;
}
div.communication
{
	background-color: #019EC0;
	cursor: pointer;
	transition-duration: 0.1s;
	width: 50%;
}

div.management.green
{
	background-color: #099000;
}
div.communication.green
{
	background-color: #0CB300;
}









div.management h3,div.communication h3
{
	color: white;
	font-family: 'DINPro_Medium';
	font-size: 32px;
	margin: 30px 0;
	text-align: center;
	user-select: none;
	cursor: pointer;
}




div.background
{
	background-color: #333333;
}


div.background p:first-child
{
	color: white;
	font-family: 'DINPro_Light';
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 75px;
	padding-top: 100px;
	width: 82%;
}



section#fonctionnalités ul li 
{
	color: #007B96;
	font-family: 'DINPro_Medium';
	font-size: 22px;
	margin-bottom: 35px;
}

section#fonctionnalités ul 
{
	color: #007B96;
	list-style-type: disc;
}

/*////*/

section#fonctionnalités ul li + p
{
	color: white;
	font-family: 'DINPro_Light';
	font-size: 17px;
	margin-bottom: 30px;
}

div.video_and_description video
{
	width: 100%;
}

div.video_and_description p
{
	color: white;
	font-family: 'DINPro_Light';
	font-size: 17px;
	margin-top: 50px;
}

div.flex_container
{
	display: flex;
	justify-content: space-between;
}

div.flex_container div.video_and_description, div.flex_container div.functionalities

{
	display: flex;
	flex-direction: column;
	max-width: calc(50% - (115px/2));
}

div.flex_container + p 
{
	color: white;
	font-family: 'DINPro_Light';
	font-size: 20px;
	margin-top: 75px;
	padding-bottom: 420px;
}

 /*///////////////////////////////////////////////////////////////////////*/
 /*/////////////////////////////////pack vente//////////////////////////////////////*/


section#pack_vente div.wrap>div
{
	-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.4);
	background-color: white;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.4);
	margin-bottom: 200px;
	transform: translateY(-50%);
	width: 100%;
}

section#pack_vente div h2
{
	margin-bottom: 75px;
	margin-top: 0;
	padding-top: 80px;
}


section#pack_vente h2+div
{
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 100px;
}

section#pack_vente h4
{
	color: #019EC0;
	font-family: 'DINPro_Medium';
	font-size: 26px;
	margin-bottom: 45px;
}

section#pack_vente p
{
	color: #000;
	font-family: 'DINPro_Light';
	font-size: 22px;
	margin-bottom: 80px;
}

section#pack_vente div.wrap div div div
{
	max-width: calc(50% - 35px);
}



 /*///////////////////////////////////////////////////////////////////////*/
 /*///////////////////////////////// AMBASSADEURS //////////////////////////////////////*/





 /*///////////////////////////////////////////////////////////////////////*/
 /*///////////////////////////////// TARIFS //////////////////////////////////////*/


section#tarifs h2
{
	margin-bottom: 50px;
}


section#tarifs h2+div
{
 	display: flex;
 	
 	align-items: center;
 	justify-content: space-between;
 	margin-right: auto;
 	margin-left: auto;
 
}
 

section#tarifs h2+div div
{
	width: calc(33% - (43px * 3));
	text-align: center;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
	padding: 70px 60px;
}



section#tarifs h2+div div:nth-of-type(3) p:last-of-type
{
	margin-bottom: 0;
}

section#tarifs h2+div div:nth-of-type(2)
{
	background-color: #007B96;
	color: white;
}
section#tarifs h2+div div:nth-of-type(1) p
{
	font-family: 'DINPro_Light';
	font-size: 20px;
}

section#tarifs h5
{
	font-family: 'DINPro_Bold';
	font-size: 30px;
	margin-bottom: 40px;
}

section#tarifs h4
{
	font-family: 'DINPro_Medium';
	font-size: 25px;
	margin-bottom: 15px;
}


section#tarifs h4+p
{
	font-family: 'DINPro_Regular';
	font-size: 20px;
	margin-bottom: 10px;
}


section#tarifs p+p
{
	font-family: 'DINPro_Light';
	font-size: 12px;
	margin-bottom: 40px;
}

section#tarifs a
{
	text-decoration: none;
}
a.submit_button
{
	border-radius: 50px;
	width: 260px;
	height: 73px;
	background: #007B96;
	color: white;
	font-size: 22px;
	font-family:'DINPro_Bold';
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 200px;
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
}



/*////////////////////translation ////////////////////////////////////////////*/


div.background:nth-of-type(2)
{
	position: absolute;
	display: none;
	transition-duration: 0.5s;
	left: 0;
	right: 0;

}



div.background:nth-of-type(2).translated_right
{
	display: block;
	transition-duration: 0.5s;
}

div.background:nth-of-type(2)
{
	

}


/*////////////////////////////make things green///////////////////////////*/

h2.green,
section#pack_vente h4.green, 
section#pack_vente h2.green,
section#tarifs h2.green,
section#fonctionnalités ul.green,
section#fonctionnalités ul.green li
{
	color: #099000;
}

section#tarifs h2+div div:nth-of-type(2).green,
a.submit_button.green
{
	background-color: #099000;
}
