
body
{
	overflow-x: hidden;
	letter-spacing: 0.01px;
	line-height: 1.3;
}

div.background div.wrap,
section#pack_vente div.wrap,
section#presentation div.wrap,
section#tarifs div.wrap

{
	width:70%;
	margin-right: auto;
	margin-left: auto;
	/*align-self: center;*/
	padding: 0;

}


 /*//////////////////////////////////////////////////////////////////////*/
h2
{
	color: #019EC0;
	font-family: "DINPro_Bold";
	font-size: 42px;
	margin-top: 150px;
	text-align: center;
	text-transform: uppercase;
}





section#presentation div.wrap div
{
	font-family: "DINPro_Light";
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 70px;

}

 /*///////////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////// kits /////////////////////////////////////*/


span.triangle_down 
{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 20px solid #007B96;
	position: absolute;
	left:25%;
	z-index: 5;
	transform:translateX(-50%);
	transition-duration:0.5s;
	transition-timing-function: ease-in-out;
}
span.triangle_down.translated_triangle
{
	border-top: 20px solid #019EC0;
	left:75%;
	transform:translateX(-50%);
	transition-duration:0.5s;
	transition-timing-function: ease-in-out;
}

span.triangle_down.green
{
	border-top: 20px solid #099000;
}
span.triangle_down.green.translated_triangle.green
{
	border-top: 20px solid #0CB300;
}

/*/////////////////////////////////////////////////*/



div.pack_container
{
	display: flex;
	margin-top: 200px;
	text-transform: capitalize;
	width: 100%;
}
div.management
{
	background-color: #007B96;
	cursor: pointer;
	transition-duration: 0.1s;
	width: 50%;
}
div.communication
{
	background-color: #019EC0;
	cursor: pointer;
	transition-duration: 0.1s;
	width: 50%;
}

div.management.green
{
	background-color: #099000;
}
div.communication.green
{
	background-color: #0CB300;
}









div.management h3,div.communication h3
{
	color: white;
	font-family: 'DINPro_Medium';
	font-size: 32px;
	margin: 30px 0;
	text-align: center;
	user-select: none;
	cursor: pointer;
}




div.background
{
	background-color: #333333;
}


div.background p:first-child
{
	color: white;
	font-family: 'DINPro_Light';
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 75px;
	padding-top: 100px;
	width: 82%;
}


div.iframe_container
{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}


div.iframe_container iframe
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;	
	right: 0;
}

div.video_and_description p
{
	color: white;
	font-family: 'DINPro_Light';
	font-size: 17px;
	margin-top: 50px;
}

div.video_and_description p a
{
	color: white;
}



div.flex_container
{
	display: flex;
	flex-direction: column;
}

div.flex_container div.video_and_description, 

{
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

div.flex_container + p 
{
	color: white;
	font-family: 'DINPro_Light';
	font-size: 20px;
	margin-top: 75px;
	padding-bottom:18em;
}

div.functionalities
{
	margin-top: 100px;
}


 /*///////////////////////////////////////////////////////////////////////*/
 /*///////////////////////////////// FONCTIONNALITÉS //////////////////////////////////////*/

section#fonctionnalités div.flex_container div.functionalities
{
	display: flex;
	justify-content: space-between;
}
section#fonctionnalités .level_0
{
	font-family: 'DINPro_Medium';
	font-size: 22px;
	list-style-type: decimal;
	color: #007B96;
	margin-bottom: 25px;
}
section#fonctionnalités ul.level_2 li
{
	font-family: 'DINPro_Light';
	font-size: 18px;
	margin-left: 20px;
	margin-top: 15px;
	list-style-type: circle; 
}
section#fonctionnalités ul li 
{
	color: white;
	font-family: 'DINPro_Light';
	font-size: 18px;
	margin-bottom: 15px;
}
section#fonctionnalités ul 
{
	color: #007B96;
	list-style-type: disc;
}
section#fonctionnalités ol>li+p
{
	color: white;
	font-family: 'DINPro_Medium';
	font-size: 18px;
	margin-bottom: 30px;
}
section#fonctionnalités ol>li+ul, ol p+ul
{
	margin-left: 15px;
}


section#fonctionnalités ol, section#fonctionnalités ul
{
	list-style-position: inside;
}
 /*///////////////////////////////////////////////////////////////////////*/
 /*/////////////////////////////////pack vente//////////////////////////////////////*/


section#pack_vente >div
{
	-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.4);
	background-color: white;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.4);
	margin-bottom: 200px;
	transform: translateY(-50%);
	max-width: 70% ;
	margin-left:auto;
	margin-right: auto;
}

section#pack_vente div h2
{
	margin-bottom: 75px;
	margin-top: 0;
	padding-top: 80px;
}


section#pack_vente p
{
	color: #000;
	font-family: 'DINPro_Light';
	font-size: 22px;
	padding-bottom: 80px;
	text-align: center;
}



 /*///////////////////////////////////////////////////////////////////////*/
 /*///////////////////////////////// AMBASSADEURS //////////////////////////////////////*/





 /*///////////////////////////////////////////////////////////////////////*/
 /*///////////////////////////////// TARIFS //////////////////////////////////////*/

 section#tarifs p
{
	color: #000;
	font-family: 'DINPro_Light';
	font-size: 22px;
	margin-top: 80px;
	text-align: center;
}
section#tarifs p a
{
	color: #000;
	text-decoration: underline;
}

/*section#tarifs h2
{
	margin-bottom: 50px;
}


section#tarifs h2+div
{
 	display: flex;	
 	align-items: center;
 	justify-content: space-between;
 	margin-right: auto;
 	margin-left: auto; 
}
 

section#tarifs h2+div div
{
	width: calc(33% - (43px * 3));
	text-align: center;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
	padding: 70px 60px;
}



section#tarifs h2+div div:nth-of-type(3) p:last-of-type
{
	margin-bottom: 0;
}

section#tarifs h2+div div:nth-of-type(2)
{
	background-color: #007B96;
	color: white;
}
section#tarifs h2+div div:nth-of-type(1) p
{
	font-family: 'DINPro_Light';
	font-size: 20px;
}

section#tarifs h5
{
	font-family: 'DINPro_Bold';
	font-size: 30px;
	margin-bottom: 40px;
}

section#tarifs h4
{
	font-family: 'DINPro_Medium';
	font-size: 25px;
	margin-bottom: 15px;
}


section#tarifs h4+p
{
	font-family: 'DINPro_Regular';
	font-size: 20px;
	margin-bottom: 10px;
}


section#tarifs p+p
{
	font-family: 'DINPro_Light';
	font-size: 12px;
	margin-bottom: 40px;
}

section#tarifs a
{
	text-decoration: none;
}*/
a.submit_button
{
	border-radius: 50px;
	text-decoration: none;
	width: 260px;
	height: 73px;
	background: #007B96;
	color: white;
	font-size: 22px;
	font-family:'DINPro_Bold';
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 200px;
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
}



/*////////////////////translation ////////////////////////////////////////////*/

/*
div.background:nth-of-type(2).hided
{
	position: absolute;
	display: none;
	transition-duration: 0.5s;
	left: 0;
	right: 0;

}


*/
div.background.com,div.background.manage
{
	display: block;
	transition-duration: 0.5s;
	/*position: absolute;
	left: 0;
	right: 0;*/
	opacity: 1;
}
div.background.com.hided,div.background.manage.hided

{
	display: none;
	opacity: 0;
}

/*
div.background:nth-of-type(1).hided
{
	position: absolute;
	display: none;
	transition-duration: 0.5s;
	left: 0;
	right: 0;
}
*/

.hided
{
	display: none;
}


/*////////////////////////////make things green///////////////////////////*/

h2.green,
section#pack_vente h4.green, 
section#pack_vente h2.green,
/*section#tarifs h2.green,*/
section#fonctionnalités ul.green,
section#fonctionnalités ul.green li
{
	color: #099000;
}

section#tarifs h2+div div:nth-of-type(2).green,
section#tarifs div.swiper-slide div.colored.green,
a.submit_button.green
{
	background-color: #099000;
}

/*////////////////////////////CAROUSEL/////////////////////////*/
.swiper-container 
{
    width: 100%;
}


.swiper-container div.swiper-slide div.content_container
{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	
}


.swiper-container div.swiper-slide div.image_container
{
	width :150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	margin-bottom: 15px;
}

div.swiper-slide div.image_container img
{
	width: 100%;
	object-fit: cover;
}


div.swiper-slide p.name,
div.swiper-slide p.work,
div.swiper-slide p.city,
div.swiper-slide p.mail,
div.swiper-slide p.phone_number
{
	color: #019EC0;
	margin-bottom: 10px;
}

div.swiper-slide p.name
{
	font-family: 'DINPro_Bold';
	font-size: 22px;
}

div.swiper-slide p.work,
div.swiper-slide p.city
{
	font-family: 'DINPro_Medium';
	font-size: 14px;
}

div.swiper-slide p.mail,
div.swiper-slide p.phone_number
{
	font-family: 'DINPro_Medium';
	font-size: 18px;
}

div.swiper-slide div.quotes
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

div.swiper-slide p.comment
{
	font-family: 'DINPro_Light';
	font-size: 17px;
	width: 80%;
	margin-bottom: 15px;
}

.swiper-button-prev 
{
	background-color: #f1f1f1;
	color: #019EC0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	top: 25%;
}

.swiper-button-next 
{
  	background-color: #f1f1f1;
  	color: #019EC0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	top: 25%;
}


 
/*
section#tarifs div.swiper-slide div
{
	width: 100%;
	text-align: center;
}



section#tarifs div.swiper-slide:nth-of-type(3) p:last-of-type
{
	margin-bottom: 0;
}

section#tarifs div.swiper-slide div.colored
{
	background-color: #007B96;
	color: white;
}
section#tarifs div.swiper-slide:nth-of-type(1) p
{
	font-family: 'DINPro_Light';
	font-size: 20px;
}

section#tarifs h5
{
	font-family: 'DINPro_Bold';
	font-size: 30px;
	margin-bottom: 40px;
}

section#tarifs h4
{
	font-family: 'DINPro_Medium';
	font-size: 25px;
	margin-bottom: 15px;
}


section#tarifs h4+p
{
	font-family: 'DINPro_Regular';
	font-size: 20px;
	margin-bottom: 10px;
}


section#tarifs p+p
{
	font-family: 'DINPro_Light';
	font-size: 12px;
	margin-bottom: 40px;
}

section#tarifs a
{
	text-decoration: none;
}*/
