@media all and (max-width: 980px)
{
	.wrap_construction
	{
		width: 85%;
	}
}

@media all and (max-width: 570px)
{
	.wrap_construction
	{
		width: 95%;
	}

	h2
	{
		font-size: 30px;
	}

	h3
	{
		font-size: 15px;
	}
}