body
{ 
  line-height: 1.3;
  letter-spacing: 0.01px;
}

.wrap_qsn
{
  width: 70%;
  margin: 0 auto;
}

h2
{
  font-family: "DINPro_Bold";
  font-size: 40px;
  color: #FF7D00;
  text-align: center;
  margin-bottom: 100px;
}

section
{
  padding: 150px 0;
}


/*First section*/
section:nth-of-type(1) .wrap_qsn
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section:nth-of-type(1) .wrap_qsn p
{
  font-family: 'DINPro_Light';
  font-size: 20px;
}

section:nth-of-type(1) .wrap_qsn img
{
  min-width: 200px;
  margin: 0;
  margin-left: 150px;
}


/*Second section*/
section:nth-of-type(2)
{
  background-color: #333333;
}

section:nth-of-type(2) .wrap_qsn h2
{
  color: white;
}

section:nth-of-type(2) .wrap_qsn >p
{
  font-family: 'DINPro_Medium';
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 100px auto 0 auto;
  width: 75%;
  line-height: 40px;
}

section:nth-of-type(2) .wrap_qsn >div
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section:nth-of-type(2) .wrap_qsn >div >div >div 
{
  display: none;
  background-color: rgba(255,125,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
}

section:nth-of-type(2) .wrap_qsn >div >div >div p
{
  color: white;
  font-family: 'DINPro_Medium';
  font-size: 24px;
  text-align: center;
}

section:nth-of-type(2) .wrap_qsn >div >div >div p:first-of-type
{
  margin-bottom: 15px;
}

section:nth-of-type(2) .wrap_qsn >div >div >img 
{
  height: 250px;
}

section:nth-of-type(2) .wrap_qsn >div >div 
{
  position: relative;
  margin: 0 30px 50px 30px;
}

section:nth-of-type(2) .wrap_qsn >div >div:hover >div
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section:nth-of-type(2) .wrap_qsn >div >div >p
{
  color: white;
  font-family: 'DINPro_Medium';
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}


/*Third section*/
section:nth-of-type(3) .wrap_qsn >div
{
  box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.75);
  padding: 70px;
  margin: auto;
  display: flex;
  width: 950px;
}

section:nth-of-type(3) .wrap_qsn >div >div:nth-of-type(1)
{
  width: 150px;
  position: relative;
}

section:nth-of-type(3) .wrap_qsn >div >div:nth-of-type(1) >img
{
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

section:nth-of-type(3) .wrap_qsn >div >div:nth-of-type(1) >span
{
  display: block;
  background-color: black;
  height: 98%;
  width: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

section:nth-of-type(3) .wrap_qsn >div >div:nth-of-type(2) >div >h3
{
  font-family: 'DINPro_Medium';
  font-size: 22px;
  color: #FF7D00;
  margin-bottom: 10px;
  margin-left: 30px;
}

section:nth-of-type(3) .wrap_qsn >div >div:nth-of-type(2) >div >h3::after
{
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #FF7D00;
  transform: translateY(-115%) translateX(-112px);
}

section:nth-of-type(3) .wrap_qsn >div >div:nth-of-type(2) >div li
{ 
  font-family: 'DINPro_Regular';
  font-size: 17px;
  margin-bottom: 15px;
}

section:nth-of-type(3) .wrap_qsn >div >div:nth-of-type(2) >div li:last-of-type
{
  margin-bottom: 0;
}

section:nth-of-type(3) .wrap_qsn >div >div:nth-of-type(2) >div ul
{ 
  margin-bottom: 50px;
  margin-left: 30px;
}

section:nth-of-type(3) .wrap_qsn >div >div:nth-of-type(2) >div:last-of-type ul
{ 
  margin-bottom: 0px;
}