@media all and (max-width: 1440px)
{

	div.background div.wrap,
	section#pack_vente div.wrap,
	section#presentation div.wrap,
	section#tarifs div.wrap

	{
		max-width: calc(100% - 200px);
		margin-right: auto;
		margin-left: auto;
		align-self: center;
	}

	/*section#pack_vente >div
	{
		max-width:100%;
	}*/

	section#tarifs div.container
	{
		flex-direction: column;
	}

	section#tarifs div.container .association,
	section#tarifs div.container .solo,
	section#tarifs div.container .company
	{
		width: calc(100%);
	}


}


@media all and (max-width: 1400px)
{

/*	section#tarifs h2+div
	{
	 	flex-direction: column; 
	}
	 

	section#tarifs h2+div div
	{
		width: 100%;
		padding: 70px 60px;
	}*/

}

@media all and (max-width: 1100px)
{
	/*section#pack_vente h2+div
	{
		padding: 0 55px;
	}

	section#pack_vente h4
	{
		font-size: 22px;
	}
	
	section#pack_vente p
	{
		font-size: 18px;
	}

	*/
	

	div.flex_container + p
	{
		padding-bottom: 13em;
	}

}



@media all and (max-width: 980px)
{

	div.flex_container
	{
		flex-direction: column;
		align-items: center;
	}

	div.flex_container div.video_and_description, div.flex_container div.functionalities

	{
		max-width: 100%;
	}


	div.management h3,div.communication h3
	{
		font-size: 22px;
	}

	div.background div.wrap, 
	section#pack_vente div.wrap,
	section#presentation div.wrap, 
	section#tarifs div.wrap 
	{
		max-width: inherit;
		width: 85%;
	}

	div.functionalities
	{
		margin-top: 60px;
	}

	section#tarifs div.container .association,
	section#tarifs div.container .solo,
	section#tarifs div.container .company
	{
		padding: 22px 10px;
	}


	section#pack_vente >div
	{
		max-width: 100%;
		margin-bottom: 10px;
	}
	section#pack_vente >div 
	{
		margin: 0;
	}

	a.submit_button
	{
		
		width: 200px;
		padding: 15px 0;
		font-size: 15px;
		margin-top: 75px;
		margin-bottom: 100px;
	}




}


@media all and (max-width: 570px)
{
	div.background div.wrap,
	section#pack_vente div.wrap,
	section#presentation div.wrap,
	section#tarifs div.wrap

	{
		width: 95%;
	}

	div.management h3,div.communication h3
	{
		font-size: 17px;
	}
	div.management h3,div.communication h3
	{
		
		margin: 20px
	}

	h2
	{
		font-size: 28px;
	}
	div.functionalities
	{
		margin-top: 35px;
	}


	.swiper-container div.swiper-slide div.image_container
	{
		width :130px;
		height: 130px;	
	}

	a.submit_button
	{
		margin-top: 50px;
		margin-bottom: 75px;
	}


}

@media all and (max-width: 450px)
{
	h2
	{
		font-size: 25px;
	}

	.swiper-button-next
	{
		right: 0;
	}
	.swiper-button-prev
	{
		left: 0;

	}

	.swiper-button-prev,
	.swiper-button-next 
	{
		height: 40px;
		width: 40px;
	}

	.swiper-button-prev::after,
	.swiper-button-next::after
	{
		font-size: 25px;
	}

	.swiper-container div.swiper-slide div.image_container
	{
		width :115px;
		height: 115px;	
	}

	section#tarifs div.container
	{
		margin-bottom: 0;
	}


}